@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: roboto;
    color: aliceblue;
}
html {
    background-image:  url("./Images/titleScreenBackground.png");
}

.main-header {
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    background-blend-mode: multiply;
    text-align: center;
}

.header-text {
    
    font-size: 1.5em;
    margin: 10px;
    margin-bottom: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}

