html {
    background-color: aquamarine;
}

.main-header {
    background-image: url("./Images/titleScreenBackground.png");
    background-size: cover;
    background-blend-mode: multiply;
    background-color: rgba(0,0,0,0.2);

}