html {
    background-color: aquamarine;
}

.main-header {
    background-image: url("./Images/titleScreenBackground.png");
    background-size: cover;
    background-blend-mode: multiply;


}

.header-text {
    color: aliceblue;
    font-size: 1.5em;
}